<li>
  <a href="<%= new_workspace_page_path(@workspace) %>" class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-indigo-200 hover:bg-indigo-700 hover:text-white">
    <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-indigo-400 bg-indigo-500 text-[0.625rem] font-medium text-white">+</span>
    <span class="truncate">New Page</span>
  </a>
</li>
<% @workspace.pages.each do |page| %>
  <% if page.id %>
    <li>
      <a href="<%= workspace_page_path(@workspace, page) %>" class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-indigo-200 hover:bg-indigo-700 hover:text-white">
        <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-indigo-400 bg-indigo-500 text-[0.625rem] font-medium text-white">

          <% if page.icon %>
            <img src="<%= page.icon %>" alt="Icon" class="w-full h-full object-fit" />
          <% else %>
            <%= page.title[0, 1] %>
          <% end %>
        </span>
        <span class="truncate"><%= page.title %></span>
      </a>
    </li>
  <% end %>
<% end %>
