<aside>
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div id="sidebar" popover class="relative z-50 lg:hidden sidebar bg-transparent" role="dialog" aria-modal="true">
    <div class="fixed inset-0 flex">
      <div class="relative mr-16 flex w-full max-w-xs flex-1">
        <div class="absolute right-0 top-0 flex w-16 justify-center pt-5">
          <button popovertarget="sidebar" popovertargetaction="hide" type="button" class="-m-2.5 p-2.5">
            <span class="sr-only">Close sidebar</span>
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-highlight-600 px-6 pb-2">
          <div class="flex h-16 shrink-0 items-center">
            <img class="h-8 w-auto" src="/icon.png" alt="Torch">
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">
              <li>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                  <li>
                    <a href="<%= workspaces_path %>" class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-highlight-200 hover:bg-highlight-700 hover:text-white">
                      <svg class="h-6 w-6 shrink-0 text-highlight-200 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                      Workspaces
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <div class="text-xs font-semibold leading-6 text-highlight-200">Your <%= @workspace && @workspace.id ? "Pages" : "Workspaces" %></div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                  <% if @workspace && @workspace.id %>
                    <%= render "layouts/pages" %>
                  <% elsif @workspaces %>
                    <%= render "layouts/workspaces" %>
                  <% end %>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden h-full lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-highlight-600 px-6">
      <div class="flex h-16 shrink-0 items-center">
        <img class="h-8 w-auto" src="/icon.png" alt="Torch">
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
              <li>
                <a href="<%= workspaces_path %>" class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-highlight-200 hover:bg-highlight-700 hover:text-white">
                  <svg class="h-6 w-6 shrink-0 text-highlight-200 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>
                  Workspaces
                </a>
              </li>
            </ul>
          </li>
          <li>
            <div class="text-xs font-semibold leading-6 text-highlight-200">Your <%= @workspace && @workspace.id ? "Pages" : "Workspaces" %></div>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
              <% if @workspace && @workspace.id %>
                <%= render "layouts/pages" %>
              <% elsif @workspaces %>
                <%= render "layouts/workspaces" %>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-highlight-600 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
    <button popovertarget="sidebar" popovertargetaction="show" type="button" class="-m-2.5 p-2.5 text-highlight-200 lg:hidden">
      <span class="sr-only">Open sidebar</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    <div class="flex-1 text-sm font-semibold leading-6 text-white">Torch</div>
    <% unless current_user.blank? %>
      <a href="<%= user_path(current_user) %>">
        <span class="sr-only">Your profile</span>
        <img class="h-8 w-8 rounded-full bg-highlight-700" src="<%= gravatar %>" alt="<%= current_user.name %>">
      </a>
    <% end %>
  </div>
</aside>
