<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Torch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "rouge.css" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full bg-indigo-600 flex">
    <main class="flex flex-col lg:flex-row min-h-full basis-full"> 
      <%= render 'layouts/sidebar' %>
      <div class="flex flex-col w-full h-full">
        <header class="bg-indigo-600 text-white p-4 hidden lg:block">
          <div class="container mx-auto flex justify-end items-center">
            <div class="flex gap-4">
              <% if logged_in? %>
                <div class="ml-4 flex items-center md:ml-6">
                  <button type="button" class="relative rounded-full p-1 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                  </button>

                  <!-- Profile dropdown -->
                  <div class="relative ml-3">
                    <div>
                      <button popovertarget="profile-menu" popovertargetaction="show"  type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Open user menu</span>
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                      </button>
                    </div>

                    <div popover id="profile-menu" class="absolute right-0 z-10 ml-auto mb-auto mt-14 mr-4 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                      <!-- Active: "bg-gray-100", Not Active: "" -->
                      <%= link_to "Profile", current_user, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-lg", role: "menuitem", tabindex: "-1" %>
                      <%# <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a> %>
                      <%= button_to "Sign out", login_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-lg w-full text-left" , role: "menuitem", tabindex: "-1"%>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= link_to "Log In", login_path, class: "group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-white hover:bg-indigo-400" %>
                <%= link_to "Sign Up", signup_path, class: "group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-white hover:bg-indigo-700" %>
              <% end %>
            </div>
          </div>
        </header>
        <div class="container mx-auto p-4 bg-white rounded-tl-md rounded-tr-md lg:rounded-tr-none min-h-full dark:bg-gray-800 dark:text-white">
          <% flash.each do |key, message| %>
            <div class="mb-4">
              <div class="alert alert-<%= key %>">
                <%= message %>
              </div>
            </div>
          <% end %>

          <%= yield %>
        </div>    
      </div>
    </main>
  </body>
</html>
