<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Torch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div>
          <%= link_to "Torch", root_path, class: "text-xl font-bold" %>
        </div>
        <div class="flex gap-4">
          <% if logged_in? %>
            <%= link_to "Workspaces", workspaces_path %>
            <%= link_to "Profile", current_user %>
            <%= button_to "Log Out", login_path, method: :delete %>
          <% else %>
            <%= link_to "Sign Up", signup_path %>
            <%= link_to "Log In", login_path %>
          <% end %>
        </div>
      </div>
    </header>
    <main> 
      <div class="container mx-auto mt-8 px-2">
        <% flash.each do |key, message| %>
          <div class="mb-4">
            <div class="alert alert-<%= key %>">
              <%= message %>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>    
    </main>
  </body>
</html>
